
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Edit Recipe</h4>
            </div>
            <div class="modal-body EditFields">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Recipe Title</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="" value="Vegetable Samosas" ng-model="modal.title">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Recipe Description</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" id="">Vegetables in a curry sauce wrapped and fried until golden brown</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Recipe Ingredients</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" id="">2 tablespoons vegetable oil, 4 medium potatoes, peeled and cut into 1/2-inch cubes, 1/2 cup chopped yellow onion, 3/4 cup canned peas and carrots,  drained 1 cup Red Curry Sauce,   Flour for baking sheet,   12 large wonton wrappers</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Recipe Instructions</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" id="">"In large skillet heat 2 tablespoons oil over medium heat. Add potatoes and onion; cook stirring constantly. About 15 minutes or until soft. Add peas and carrots and curry sauce and cook 4-5 minutes. Cool.", "Lightly flour baking sheet. Cut each wonton wrapper in half on the diagonal to make 2 triangles. Spoon 1-2 tablespoons filling in center of each triangle. Brush edges of wrappers with water; fold in half to form a triangle and press edges together to seal. Transfer to prepared baking sheet.", "In deep-fryer heat oil to 350 degrees F. Fry samosas a few at a time. Turning occasionally for 2-3 minutes or until golden brown. Drain on paper towels. Serve with chutney."</textarea>
                    </div>
                </div>

                <div class="clear"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>